[submodule ".mason"]
	path = .mason
	url = https://github.com/mapbox/mason.git
[submodule "tests/geometry-test-data"]
	path = tests/geometry-test-data
	url = https://github.com/mapnik/geometry-test-data.git
